<div fxLayout="row" fxLayoutAlign="space-between">

 <div class="bck">
    <h1 color="warm" >Log in to your account</h1>
<mat-card> 
  <!-- <img mat-card-image src="https://www.assignmentboffin.com/images/login.png" alt="Photo of a Shiba Inu">-->
     <div class="example-container"> 
<mat-form-field >
      <mat-label>Email</mat-label>
    <input matInput placeholder="Enter Your Email" [formControl]="emailFormControl"/>
    <mat-error align="end" *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error align="end" *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
</mat-form-field>

<mat-form-field >
      <mat-label>Password</mat-label>
    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
</mat-form-field>
</div>
<button color="blue" class="btn-wid-full login-btn-blue" mat-raised-button [routerLink]="['/dashboard']">Log In</button>
 
<p class="divider-text"> OR </p>

<button color="white" class="btn-wid-full" mat-raised-button [routerLink]="['/dashboard']"><img src="https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/3.4.2/static/media/google-logo.c21ca9d1.svg" alt="" style="height: 18px; margin-right: 8px; vertical-align: middle; width: 18px;"> Log in with Google</button>
</mat-card>

<p class="pass-reset-link"><a routerLink="/changepassword">Can't log in</a></p>

</div>
</div>
