<mat-sidenav-container class="sidenav-container" (backdropClick)="close('backdrop')">

  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <mat-toolbar>Menu</mat-toolbar>
      <p><button mat-button (click)="close('toggle button')">Toggle</button></p>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      
        <mat-icon (click)="sidenav.open()">menu</mat-icon>
        <!-- <button mat-button (click)="sidenav.open()">Open</button> -->
        
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>CMIS V3</span>

      
    </mat-toolbar>

    <!-- <p><button mat-button (click)="sidenav.open()">Open</button></p> -->
    <!-- <p>Closed due to: {{reason}}</p> -->
    <!-- Add Content Here -->
    

    <ng-content></ng-content>

    
     





  </mat-sidenav-content>

</mat-sidenav-container>
